# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use 
- List commonly used libraries used by Data Scientists 
- Make table of tools used in data science
- Evaluating arithmetic expressions in Python
- Converting minitues into the hours

Some of the popular languages that Data Scientists use are:
1. pthon
2. R
3. julia
4. java
5. scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. seaborn
5. scipy

| Data Science Tools |
| ------------------ |
| MySQL |
| Pixie Dust |
| Seldon |
| jupyternotebook |
| Git |
| Apache AirFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60.
minutes= 200

#to convert these minitues into the hours we need to divide it by 60 
hours=minutes/60

#printing hours
print("hours ::",hours)

hours :: 3.3333333333333335

## Author
Rohan Rabade